<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <!--<identity impersonate="true" />-->
  </system.web>
  <appSettings>
    <add key="Config.Log4Net" value="Log4net.Config" />
    <add key="Path_Certificado" value="E:\Aplicaciones\Certificados\ventanilla_unica\33637617449.p12" />
    <add key="Clave_Certificado" value="as47dn18" />
    <add key="rpa.WSDominiosPorCuitANSES" value="https://www.ws1.dnrpa.gov.ar/WS-DominiosPorCuitANSES/WS-DominiosPorCuitANSES/index.php" />
	
	<add key="ProxyName" value="ansesproxy.anses.gov.ar"/>
	<add key="ProxyPort" value="80"/>
	
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
